* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vazir-FD';
  src: url('./fonts/Vazir-Regular-FD.woff');
}

body {
  font-family: 'Vazir-FD';
  background-color: #424242;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  padding: 1.5rem;
  gap: 1.5rem;
  margin: 0 auto;
}

.header h1 {
  color: snow;
  text-align: center;
  padding-top: 1rem;
}

.note {
  height: 200px;
  box-sizing: border-box;
  padding: 1rem;
  color: #212121;
  border: none;
  border-radius: 5px;
  resize: none;
  font: inherit;
  font-size: 1rem;
  outline: none;
  background-color: rgba(246, 246, 104, 0.959);
}

.delete-btn {
  color: red;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
}

.add-note {
  height: 200px;
  border: none;
  outline: none;
  background-color: #616161;
  border-radius: 10px;
  font-size: 100px;
  color: #212121;
  cursor: pointer;
  transition: background 0.3s;
}

.add-note:hover {
  background: #535353;
}
